@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    padding: 5em;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.navbar {
  position: fixed;
  top: 1em;
  left: 11em;
  right: 11em;
  color: #1e293b;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: rgba(255, 255, 255, 0.05); /* transparent white */
  backdrop-filter: blur(15px);          /* frosted glass */
  -webkit-backdrop-filter: blur(15px);  /* for Safari */
  padding: 1em 0;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1); /* subtle border */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25); /* soft shadow */
}

.nav-titleset{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1e293b;
}


.navbar img{
    margin-left: 1em;
    width: 3em;
    height: 3em;
}

.nav-titleset p{
    font-weight: 700;
    margin-left: 2em;
    text-transform: uppercase;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.nav-links a{
    text-decoration: none;
    font-weight: 500;
    color: #1e293b;
    transition: transform 0.3s;
}
.nav-links a:hover{
    transform: scale(1.1);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.main_banner{
    margin-top: 3.5em;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(255, 255, 255, 0.5);
    object-fit: cover;
}

.main_banner div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.2em;

}

.main_banner div h2{
    text-align: center;
    margin-bottom: 1em;
}

.main_banner div p, .mission p{
    font-size: large;
    font-weight: 500;
    line-height: 2em;
    text-align: center;
}

.main_banner img, .mission img{
    max-width: 50%;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.1); /* subtle border */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25); /* soft shadow */
}

.mission{
    margin-top: 2em;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.5); /* subtle border */
}
.mission div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: 1.2em;
}

@media (max-width: 992px) {
  .nav-links {
    font-weight: 700;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 1em 2em;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1); /* subtle border */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25); /* soft shadow */
    background: rgba(255, 255, 255, 0.2); /* transparent white */
    backdrop-filter: blur(200px);          /* frosted glass */
    -webkit-backdrop-filter: blur(30px);  /* for Safari */

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;

  }
  .nav-links.active{
    visibility: visible;
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
  .hamburger{
    font-size: 1.5em;
    display: block;
    color: #1e293b;
  }
  .nav-titleset p {
    margin-left: 1em;
  }
  .navbar{
    left: 1em;
    right: 1em;
  }
  .main_banner{
    flex-direction: column;
  }
  .main_banner img, .mission img{
    max-width: 100%;
  }
  .mission{
    flex-direction: column;
  }
  
}
